
td {
  font-size: 25px;
}
p {
  font-size: 20px;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.doctor {
  width: 18rem;
  margin: 1rem;
}

:root {
  --mainbackground: #ffffff;
  --card-background: #ebebeb;
  --nav-background: #ebebeb;
  --header-background: #4062bb;
  --default-button: #4062bb;
}

nav {
  background: var(--nav-background);
  color: black;
}
body {
  background: var(--mainbackground);
}
.btn {
  background: var(--default-button);
  border: var(--default-button);
}

.section-title {
  background: var(--header-background);
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}
.doctors {
  padding-top: 1rem;
}
.accordion-button {
  background: var(--card-background);
  border: var(--card-background);
}
.accordion-header {
  border: var(--card-background);
  background: var(--card-background);
}
.accordion-item {
  background: var(--card-background);
}
.card {
  background: var(--card-background);
}

.close {
  background: gray;
}

.section-title::before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
  pointer-events: none;
}

body {
  padding-top: 65px;
}

html {
  scroll-behavior: smooth;
}

.invalid{
  color:red;
}